@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

*,
html {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 7%;
  min-height: 100vh;
  gap: 15px;
  padding-bottom: 80px;
}
.container .content {
  flex: 1 1 400px;
}
.container .image img {
  width: 100%;
}

.container .content .title {
  font-size: 45px;
  text-transform: uppercase;
  color: #aa336a;
}

.container .content p {
  padding: 5px 0;
  color: #666;
}

.container .content .coming-soon {
  display: inline-block;
  padding: 8px 50px;
  background-color: #aa336a;
  color: #fff;
  font-size: 17px;
  margin: 10px 0;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.container .content .coming-soon:hover {
  letter-spacing: 2px;
}
